# Project dirs
data/
stuff/
build/
documentation/_build
documentation/public
documentation/xdl_autodoc
public/

# Python
.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
build
xdl.egg-info

logs
lidocaine
tests/chempiler_output/
tests/unit/chempiler_output

# other
.vscode
test.py
chempiler_output/
*.xdlexe

# Allows
!tests/unit/files/V60P0014_A.xdlexe
!tests/unit/files/enolisation.xdlexe