# Project dirs
data/
stuff/
build/
public/

# Docs build files
documentation/_build
documentation/public
documentation/xdl_autodoc
documentation/standard/full-steps-specification.rst
documentation/standard/steps-overview.rst
documentation/standard/xdl-file-structure.rst

# Python
.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
build
xdl.egg-info

logs
lidocaine
tests/chempiler_output/
tests/unit/chempiler_output

# other
.vscode
chempiler_output/
test_output/
*.xdlexe
*.xsd
.coverage
log_files

# Allows
!tests/unit/files/xdlexe_test_iso8891.xdlexe
!tests/unit/files/xdlexe_test_missing_properties.xdlexe
!tests/integration/files/lidocaine.xdlexe
!tests/unit/files/repeat_parent.xdlexe
!*.flake8*
