lxml==4.2.1
beautifulsoup4==4.6.0

# Chempiler
git+http://datalore.chem.gla.ac.uk/Chemputer/Chempiler.git
git+http://datalore.chem.gla.ac.uk/Chemputer/ChemputerAPI.git
git+http://datalore.chem.gla.ac.uk/Chemputer/SerialLabware.git

git+http://datalore.chem.gla.ac.uk/mcrav/chembrain.git